<h2>--> Gamer Go <--</h2>

<h1>Name: <%= @game.name %> </h1>

<h2>Genre: <%= @game.genre %> </h2>

<h2>Notes: <%= @game.notes %> </h2>

  <% if current_user %>
    <a href="/games/<%=@game.id%>/edit"><button> Edit Game </button></a>


    
    <form method="post" action="/games/<%=@game.id%>">
      <input id="hidden" type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Delete Game">
    </form>
    

  <% end %>
  
  <br>
  <br>
  
<h4>Back to
  <a href="/">Home Page</a>
</h4>

<h4>Back to
  <a href="/games">All Games</a>
</h4>


  